#Header {
  background: #1c341c;
  //   background: -moz-linear-gradient(top, #1c341c 0%, #334633 100%);
  //   background: -webkit-gradient(
  //     linear,
  //     left top,
  //     left bottom,
  //     color-stop(0%, #1c341c),
  //     color-stop(100%, #334633)
  //   );
  background: rgb(87, 87, 87);
  background: radial-gradient(
    circle,
    rgba(87, 87, 87, 1) 23%,
    rgba(10, 28, 55, 1) 70%
  );
  padding: 20px 0;
  border-right: 2px solid rgb(239, 230, 230);
  //   background: -webkit-linear-gradient(top, #1c341c 0%, #334633 100%);
  //   background: -o-linear-gradient(top, #1c341c 0%, #334633 100%);
  //   background: -ms-linear-gradient(top, #1c341c 0%, #334633 100%);
  //   background: linear-gradient(to bottom, #1c341c 0%, #334633 100%);
  .Header {
    display: flex;
    align-items: center;
    gap: 70px;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
    h1 {
      animation: 1s header_icon infinite linear;
      font-size: 30px;
      color: #575757;
    }
    @keyframes header_icon {
      0% {
        transform: scale(1.1);
      }
      50% {
        transform: scale(1.2);
      }
      100% {
        transform: scale(1.1);
      }
    }
    .Header_nav {
      display: flex;
      align-items: center;
      gap: 50px;
      a {
        text-decoration: none;
        color: #b0c0b2;
        z-index: 1;
        font-size: 15px;
      }
    }
  }
}
